@import "../node_modules/reveal.js/css/reveal.scss";
@import "./theme";
@import "../node_modules/reveal.js/plugin/highlight/monokai";

.reveal {
  h1, h2, h3, h4 {
    margin-bottom: 1rem;
  }

  p,
  li {
    line-height: 1.6;
  }

  p {
    margin: .5rem 0;
  }

  .moji {
    font-size: 3rem;
  }

  section > ul {
    margin-left: 0;
    padding-left: 1.5rem;
    list-style: circle;
    padding-top: .6rem;
    padding-bottom: .6rem;
  }

  section > ul > li > ul {
    list-style: square;
  }
}

@media screen and (min-width: 576px) {
  $heading1Size: 3rem;
  $heading2Size: 2.5rem;
  $heading3Size: 2rem;
  $heading4Size: 1.6rem;
  $mainFontSize: 1.3rem;

  .reveal {
    font-size: $mainFontSize;

    h1,
    h2,
    h3,
    h4 {
      color: $headingColor;

      font-family: $headingFont;
      font-weight: $headingFontWeight;
      line-height: 1.15;
      letter-spacing: $headingLetterSpacing;

      text-transform: $headingTextTransform;
      text-shadow: $headingTextShadow;

      word-wrap: break-word;
      margin-bottom: 1.1rem;
    }

    h1 {
      font-size: $heading1Size;
    }
    h2 {
      font-size: $heading2Size;
    }
    h3 {
      font-size: $heading3Size;
    }
    h4 {
      font-size: $heading4Size;
    }

    p,
    li {
      line-height: 1.7;
    }
  }
}

@media screen and (min-width: 768px) {
  .reveal {
    h1,
    h2,
    h3,
    h4 {
      line-height: 1.2;
      margin-bottom: 1.2rem;
    }

    section > ul {
      margin-left: 0;
      padding-left: 1.5rem;
      list-style: circle;
    }

    section > ul > li > ul {
      list-style: square;
      margin-left: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}

.animated {
  animation-duration: 2s;
  transition-duration: 2s;
  transition-delay: 6s;
  animation-iteration-count: 666;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
